  ViewData["Title"] = "Card";
<main>
    <section id="card-part">
        <div class="container">
            <div class="row">
                <div class="card" style="border: none;">
                    <img src="~/IMAGES/home/bag-icon.png" alt="">
                    <div class="text">
                        <p>YOUR CART IS CURRENTLY EMPTY.</p>
                    </div>
                    <div class="btn">
                        <button>Return to shop</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>