  ViewData["Title"] = "Contact";
<main>
    <section id="touch">
        <div class="container">
            <div class="row">
                <div class="text">
                    <h1>Get It Touch</h1>
                    <h6>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa veritatis inventore, aut commodi eum veniam vel.</h6>
                </div>
            </div>
    </section>
    <section id="cards-info">
        <div class="container">
            <div class="row d-flex">
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-location-dot"></i>
                        <p class="fisrt-text txt">102 Street 2714 Donovan</p>
                        <p class="second-text txt">Lorem ipsum dolar site amet discont</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fa-solid fa-square-phone"></i>
                        <p class="fisrt-text txt">102 Street 2714 Donovan</p>
                        <p class="second-text txt">Lorem ipsum dolar site amet discont</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fa-regular fa-envelope"></i>
                        <p class="fisrt-text txt">102 Street 2714 Donovan</p>
                        <p class="second-text txt">Lorem ipsum dolar site amet discont</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="send-messages">
        <div class="container">
            <div class="row">
                <div class="contact">
                    <div class="text-part">
                        <h2>Send Us</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa veritatis inventore, aut commodi eum veniam vel.</p>
                        <hr>
                    </div>
                    <div class="form">
                        <div class="d-flex first-part">
                            <div class="col-12 col-lg-6">
                                <label>Your name*</label>
                                <br>
                                <span>
                                    <input type="text">
                                </span>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label>Your name*</label>
                                <br>
                                <span>
                                    <input type="text">
                                </span>
                            </div>
                        </div>
                        <div class="second-part">
                            <div class="col-12 col-lg-12">
                                <label>Subject*</label>
                                <br>
                                <span>
                                    <input type="text">
                                </span>
                            </div>
                        </div>
                        <div class="third-part">
                            <div class="col-12 col-lg-12">
                                <label>Your message</label>
                                <br>
                                <span>
                                    <textarea type="text"></textarea>
                                </span>
                            </div>
                        </div>
                        <div class="fourth-part">
                            <div class="col-12 col-lg-12">
                                <button>submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>